@import "sweetalert2/src/variables";

$swal2-image-margin: 1em auto 1em;
$swal2-padding: 20px 0 20px;

@import "sweetalert2/src/sweetalert2";

.swal2-container {
  z-index: 100010 !important;
}

.swal2-html-container {
  font-size: 1em !important;
  line-height: 2 !important;
}

.swal2-title {
  font-size: 1em !important;
}

.swal2-popup {
  background: rgb(var(--v-theme-surface)) !important;
  color: rgba(var(--v-theme-on-surface)) !important;
}

.swal2-actions {
  inline-size: 100% !important;
  padding-inline: 20px !important;
}

.swal2-styled.swal2-confirm {
  color: rgb(var(--v-theme-primary));
}

// .swal2-actions:not(.swal2-loading) .swal-btn:hover {
//   background-image: linear-gradient(rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%));
// }

.swal-btn.btn-confirm {
  background: #f5f5f5;
  color: #3a3541;
  font-weight: 700;
}

.swal-btn.btn-cancel {
  font-weight: 400;
}

.swal-btn.btn-deny {
  font-weight: 400;
}

.swal-btn {
  border-radius: 4px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0%);
  margin-block: 0 8px;
  margin-inline: 4px;
  min-inline-size: 100%;
  padding-block: 0.625em;
  padding-inline: 1.1em;
  transition: box-shadow 0.1s;
}

.btn-outlined {
  border: thin solid currentcolor;
  background: transparent !important;
  color: rgb(var(--v-theme-primary));
}
